<html>

<head>
    <title>Aliens Attack</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="icon" href="ufo.png">
    <link rel="stylesheet" href="game.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <center>
        <table id="game">
            <tr>
                <td>
                    <img src="ninja.png">
                    <h1 class="names"> You</h1>
                </td>
                <td>
                    <h1 id="vs" class="names"> Vs.</h1>
                </td>
                <td>
                    <img src="alien.png">
                    <h1 id="al" class="names">Alien</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="bar00">
                        <div id="bar1" class="bar" :style="sty1">{{yPercent}}%</div>
                    </div>
                </td>
                <td id="space"></td>
                <td>
                    <div id="bar0">
                        <div class="bar" :style="sty">{{aPercent}}%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button id="start" class="options" @click="start" v-if="shows">Start</button>
                </td>
            </tr>
            <tr id="buttons">
                <td colspan="3" v-if="showb" v-model="width">
                    <!-- <input type="text" v-model="width"> -->
                    <button id="a" class="options" @click="attack">Attack</button>
                    <button id="fa" class="options" @click="fAttack">Fast Attack</button>
                    <button id="h" class="options" @click="heal" v-if="aclicked">Heal up</button>
                    <button id="q" class="options" @click="quit">Quit</button>
                </td>

            </tr>

            <tr id="scoreBoard">
                <td colspan="3" v-if="showla">
                    <ul style="list-style: none;">
                        <li id="youScore" v-for="items in you">{{items.a}}</li>
                        <li id="alScore" v-for="items in alien">{{items.a}}</li>
                    </ul>
                </td>
            </tr>

            <tr id="scoreBoard">
                <td colspan="3" v-if="showlfa">
                    <ul style="list-style: none;">
                        <li id="youScore" v-for="items in you">{{items.fa}}</li>
                        <li id="alScore" v-for="items in alien">{{items.fa}}</li>
                    </ul>
                </td>
            </tr>
            <tr id="scoreBoard">
                <td colspan="3" v-if="showlh">
                    <ul style="list-style: none;">
                        <li id="youScore" v-for="items in you">{{items.h}}</li>
                        <li id="alScore" v-for="items in alien">{{items.h}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </center>
</body>
<script src="/__/firebase/init.js"></script>
<script src="game.js"></script>

</html>
